@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <h1 class="display-6">@Model.Heading</h1>
    @foreach (var item in Model.Games)
    {
        <p>@item.GameID. @item.GameTitle @item.ReleaseYear</p>
    }
</div>
